# set your user tokens as enivornment variables, such as ~/.secrets
# See the README for examples.
[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[alias]
  #pr's
  # git config --global alias in e.g. .zshrc will override these!
  pr = !git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1 && :
  pr-clean = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"

  # add
  a = add .                         # add everything to the staging area
  chunkyadd = add --patch           # stage commits chunk by chunk

  # branch
  b = branch -v                     # branch (verbose)

  # commit
  c = commit -m                               # commit with message
  ca = commit -am                             # commit all with message
  cf = commit --fixup                         # create fixup commit
  ci = commit                                 # commit
  cn = commit -n                              # commit with no hooks
  cnf = commit -n --fixup                     # create fixup commit with no hooks
  aci = !git add . && git commit              # add everything commit
  acn = !git add . && git commit -n           # add everything _and_ commit with no hooks
  acf = !git add . && git commit --fixup      # add everything and create fixup commit
  acnf = !git add . && git commit -n --fixup  # add everything and create fixup commit (don't run hooks)
  amend = commit --amend                      # amend your last commit
  namend = commit --amend -n                  # amend your last commit with no hooks 
  anamend = commit -a --amend -n              # like namend, but stage all changes before commmit
  amen = commit --amend --no-edit             # amend your last commit without prompting for the commit message
  namen = commit --amend --no-edit -n         # like amen, but skip commit hooks
  anamen = commit -a --amend --no-edit -n     # like namen, but stage all changes before commmit

  # checkout
  co = checkout                           # checkout
  cof = !sh -c 'git-fuzzy-checkout $1' -  # fuzzy vheckout e.g. `git cof refact` instead of `git co refactoring`
  com = checkout master                   # checkout master
  cod = checkout develop                  # checkout develop
  cos = checkout staging                  # checkout staging
  nb = checkout -b                        # create and switch to a new branch (mnemonic: "git new branch branchname...")

  # cherry-pick
  cp = cherry-pick -x               # grab a change from a branch

  # diff
  d = diff                          # diff unstaged changes
  dc = diff --cached                # diff staged changes
  last = diff HEAD^                 # diff last committed change

  # fetch
  fu = fetch upstream
  fo = fetch origin
  fomom = !git fetch origin && git merge origin/master
  fomos = !git fetch origin && git merge origin/staging
  fomod = !git fetch origin && git merge origin/develop
  forhob = !git fetch origin && git reset --hard origin/`git rev-parse --abbrev-ref HEAD`
  forhom = !git fetch origin && git reset --hard origin/master
  forhos = !git fetch origin && git reset --hard origin/staging
  forhod = !git fetch origin && git reset --hard origin/develop

  # log
  l = log --graph --date=short
  changes = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
  short = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\"
  changelog = log --pretty=format:\" * %s\"
  shortnocolor = log --pretty=format:\"%h %cr %cn %s\"

  #ls
  ls = diff-tree --no-commit-id --name-only -r

  # merge
  mom = merge origin/master
  mos = merge origin/staging

  # pull
  pl = pull
  prod = pull --rebase origin develop
  prom = pull --rebase origin master
  pros = pull --rebase origin staging
  prob = !sh -c 'git pull --rebase origin `git rev-parse --abbrev-ref HEAD`'
  prios = !sh -c 'git pull --rebase origin staging && git rebase -i origin/staging'
  priom = !sh -c 'git pull --rebase origin master && git rebase -i origin/master'
  prud = pull --rebase upstream develop
  prum = pull --rebase upstream master
  prus = pull --rebase upstream staging
  

  # push
  ps = push
  fp = !sh -c 'git push --force origin `git rev-parse --abbrev-ref HEAD`' -
  fpn = !sh -c 'git push --force --no-verify origin `git rev-parse --abbrev-ref HEAD`' -
  fpu = !sh -c 'git push --force upstream `git rev-parse --abbrev-ref HEAD`' -
  fpc = !sh -c 'git push --force codazzo `git rev-parse --abbrev-ref HEAD`' -
  fpp = !sh -c 'git push --force play `git rev-parse --abbrev-ref HEAD`' -
  fpcn = !sh -c 'git push --force --no-verify codazzo `git rev-parse --abbrev-ref HEAD`' -
  fpa = !sh -c 'git push --force adettole `git rev-parse --abbrev-ref HEAD`' -

  # rebase
  ra = rebase --abort
  ras   = !sh -c 'HUSKY_SKIP_HOOKS=1 git rebase --autosquash --interactive $0'
  rasom = !sh -c 'HUSKY_SKIP_HOOKS=1 git rebase --autosquash --interactive origin/master'
  rasos = !sh -c 'HUSKY_SKIP_HOOKS=1 git rebase --autosquash --interactive origin/staging'
  rasod = !sh -c 'HUSKY_SKIP_HOOKS=1 git rebase --autosquash --interactive origin/develop'
  rasob = !sh -c 'git rebase --autosquash --interactive origin/`git rev-parse --abbrev-ref HEAD`'
  rc = rebase --continue
  arc = !git add . && git rebase --continue
  rs = rebase --skip
  ri   = !sh -c 'HUSKY_SKIP_HOOKS=1 git rebase -i HEAD~$1' -
  riod = !sh -c 'HUSKY_SKIP_HOOKS=1 git rebase -i origin/develop'
  rios = !sh -c 'HUSKY_SKIP_HOOKS=1 git rebase -i origin/staging'
  riob = !sh -c 'HUSKY_SKIP_HOOKS=1 git rebase -i origin/`git rev-parse --abbrev-ref HEAD`'
  riom = !sh -c 'HUSKY_SKIP_HOOKS=1 git rebase -i origin/master'
  romid = rebase origin/master --ignore-date
  rosid = rebase origin/staging --ignore-date
  rodid = rebase origin/develop --ignore-date

# remote
  r = remote -v                     # show remotes (verbose)

  # reset
  unstage = reset HEAD              # remove files from index (tracking)
  us      = reset HEAD
  uncommit = reset HEAD^            # go back before last commit, with files in uncommitted state
  uc       = reset HEAD^
  filelog = log -u                  # show changes to a file
  mt = mergetool                    # fire up the merge tool
  rh = reset --hard
  rod = reset origin/develop
  ros = reset origin/staging
  rom = reset origin/master
  rhom = reset --hard origin/master
  rhos = reset --hard origin/staging

  su = !sh -c 'git branch --set-upstream-to=origin/`git rev-parse --abbrev-ref HEAD`'

  # stash
  ss = stash                        # stash changes
  sl = stash list                   # list stashes
  sa = stash apply                  # apply stash (restore changes)
  sd = stash drop                   # drop stashes (destory changes)

  # status
  s = status                        # status
  st = status                       # status
  stat = status                     # status
  changed = !git status --porcelain | sed s/^...//

  # tag
  t = tag -n                        # show tags with <n> lines of each tag message

  #wip
  wip = !git add . && git commit -n -m "WIP"

  # svn helpers
  svnr = svn rebase
  svnd = svn dcommit
  svnl = svn log --oneline --show-commit

  #recent branches
  rb = for-each-ref --count=30 --sort=-committerdate refs/heads/ --format='%(refname:short)'
  cb = !dialog --clear --backtitle "Backtitle here" --title "Title here" --menu "Choose one of the following options:" 15 40 4 $(git rb)
[format]
  pretty = format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C(blue)%s %C(magenta) [%an]%Creset
[mergetool]
  prompt = false
  keepBackup = true
[mergetool "mvimdiff"]
  cmd="mvim -c 'Gdiff' $MERGED"     # use fugitive.vim for 3-way merge
  keepbackup=false
[merge]
  summary = true
  verbosity = 1
  tool = mvimdiff
  conflictstyle = diff3
[apply]
  whitespace = nowarn
[branch]
  autosetupmerge = true
[push]
  # 'git push' will push the current branch to its tracking branch
  # the usual default is to push all branches
  default = current
[core]
  autocrlf = false
  editor = subl -n -w
  excludesfile = /Users/codazzo/.gitignore_global
[advice]
  statusHints = false
[diff]
  # Git diff will use (i)ndex, (w)ork tree, (c)ommit and (o)bject
  # instead of a/b/c/d as prefixes for patches
  mnemonicprefix = true
[rerere]
  # Remember my merges
  # http://gitfu.wordpress.com/2008/04/20/git-rerere-rereremember-what-you-did-last-time/
  enabled = true
[include]
  path = .gitconfig.user
[user]
  name = Antonio D'Ettole
  email = antonio@example.com
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[commit]
  template = /Users/codazzo/.stCommitMsg
